@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(68 189 184);
}

body {
  overflow-x: hidden;
}
.main {
  height: 100vh;
}

.main div {
  background-color: rgb(56, 120, 228);
}

input {
  color: rgb(63, 31, 4);
  border: 2px solid white;
  color: white;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}

.icon {
  width: 150px;
}
